h1.cover-heading Cover your page.
p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
p.lead
  .fb-login-button data-auto-logout-link="false" data-button-type="continue_with" data-max-rows="1" data-show-faces="false" data-size="large" data-use-continue-as="false"

