/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: transparent;
  border: 2px solid #fff;
  /*border-radius: 20px;*/
  padding: 0.5rem 2rem;
}

.btn-default:hover,
.btn-default:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

/*
 * Base structure
 */
html,
body {
  /*height: 100%;*/
}

body {
  background: url(clique.jpg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  font-family: 'Quicksand', sans-serif;

}

.background {
  background: url(clique.jpg) no-repeat center center fixed;
  /*
  background-size: cover OR 100% (height will be set automatically) OR 100% 100% (strech image)
  Safari might have problems with "background-size: cover" and "background-attachment: fixed". Fix: set "background-size" to "100%" or "100% 100%"
  */
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  background: rgba(48, 53, 70, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */

.nav-masthead {
  text-align: center;
  display: block;
}

.nav-masthead .nav-link {
  display: inline-block;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 20px;
}

.cover .btn-notify {
  padding: 10px 60px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 40px;
}

.cover-heading {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2rem;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .cover-heading {
    font-size: 3.4rem;
    letter-spacing: 15px;
  }
}

.cover-copy {
  max-width: 500px;
  margin: 0 auto 3rem;
}

/*
 * Footer
 */
.mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}

/*
 * Subscribe modal box
 */
#subscribeModal .modal-content {
  background-color: #303546;
  color: #fff;
  text-align: left;
}

#subscribeModal .modal-header, #subscribeModal .modal-footer {
  border: 0;
}

#subscribeModal .close {
  color: #fff;
}

#subscribeModal .form-control {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

#subscribeModal .form-control:focus {
  border-color: #49506a;
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  .cover-container {
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
  }

  .masthead {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .cover-container {
    margin-right: auto;
    margin-left: auto;
    position: inherit;
    top: 50%;
    bottom: 50%;
  }

  .masthead {
    position: inherit;
    top: 0;
    width: 100%;
  }
  .mastfoot {
    position: inherit;
    bottom: 0;
    width: 100%;
  }
}

.profile-card img { z-index: 10; }
.profile-card .card {
  top: -140px;
  z-index: 1;
}
.profile-card .card h2 { margin-top: 100px; }

